.filter-section {
  flex-basis: 20%;
  padding: 2rem;
  background-color: var(--bg-secondary);
}

.product-section {
  flex-basis: 80%;
  margin: 1rem 0;
}

.price-slider {
  width: 50%;
}

.card-vertical {
  max-width: 13rem;
  max-height: 23rem;
  transition: transform 0.2s ease;
}

.card-vertical:hover {
  transform: scale(1.1);
}

.card-details {
  padding: 0.2rem 0.1rem;
}

.card-actions {
  gap: 0.3rem;
  padding: 0;
  margin: 0;
}

.card-media {
  width: 100%;
  height: 50%;
}

.card-media img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.card-nonmedia {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 100%;
}

.btn-fill {
  width: 95%;
}
