.cart-container {
  margin: 2rem 0;
}

.cart-product-section {
  gap: 2rem;
  flex-basis: 65%;
}

.cart-price-section {
  flex-basis: 35%;
}

.card-horizontal {
  max-height: 20rem;
  margin: auto;
}

.card-horizontal-media {
  width: 40%;
}

.card-horizontal-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-horizontal-nonmedia {
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.operator {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--bg-primary);
  cursor: pointer;
}

.operator-disabled {
  color: var(--text-secondary);
  cursor: not-allowed;
}

.card-horizontal-nonmedia .card-actions {
  width: 100%;
  gap: 0.5rem;
}

.price-card {
  background-color: var(--bg-secondary);
  width: 90%;
  padding: 3rem;
  margin-right: auto;
  gap: 1rem;
}

.btn-fill {
  width: 95%;
}

.card-horizontal-media img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
